body, html {
	font-family: Verdana, sans-serif;
	margin: 0;
	font-size: 16px;
}
body{
	background-image: url(images/background.png);
}
header {
	display: block;
	width: 100%;
	
}
h1{
	color: #ff9100;
	font-family: Arial black;
}
.banner {
	background-image: url("images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
	
}
.navbar{
	height: 12%;
	display: flex;
	align-items:  center;
}
nav{
	flex: 1;
	text-align: right;

}
.logo{
	width: 50px;
	cursor: pointer;
}
ul {
	list-style-type: none;
	display: inline-block;
	margin-left: 60px;
	padding: 0;
	overflow: hidden;
	background-color: black;
	

}
li {
	float: left;
	
}
li a {
	display: block;
	color: whitesmoke;
	text-align: center;
	font-size: 22px;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(122, 117, 117);
}
.cool-hover::after{
	content: '';
	display: block;
	width: 0;
	height: 5px;
	background: #ff9100;
	transition: width .3s;
	margin: auto;
}
.cool-hover:hover::after{
	width: 100%;
	

}

h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: #27318b;
}
main a {
	color: #27318b;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
.news img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #ff8800;
}
.news hr {
	margin: 1em;
	border: none;
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: left;
}

figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 20%;
	border: 1px inset #ff9100;
	
	
}
figcaption {
	font-size: 90%;
}
img {	
	width:100px;
	height: auto;
	
	
}
.container{
	max-width: 1200px;
	margin: auto;
	background: #f2f2f2;
	overflow: auto;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content:left;
	width: 100%;
	height: auto;
	float: left;

}
.gallery img{
	padding: 0 20px 20px;
	width: 360px;
	height: auto;
	
		
}


.desc{
	padding: 15px;
	text-align: left;
	border: 1px double #ff9100;
	border-radius: 5px;
	
}
.gallery h2{
	color: #ff9100
}
footer {
	background-color: none;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: #ff8800;
	text-align: center;
	margin: 0.5em;
	font-family: impact;
}
footer img {
	width: 20px;
	
}
#contact{
	margin: 1em;
}

video{
	margin: 0 1em 1em 1em;
	float: left;
}
label{
	display: block;
}
input[type=text], input[type=email], select, textare{
	width:50%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
		font-family: 'Verdana', sans-serif;
		font-size: 95%;
}
input[type=submit]{
	display: block;
		background-color: #ff8800;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
		width: 25%
}
input[type=submit]:hover{
	background-color: #4CAF50;
}

/* .gallery figure{
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 200px;
	border: 1px solid black;

}
.gallery figcaption{
	font-size: 90%;
	height: 50px;
	text-align: center;
	width: 200px;
} */
/* .gallery{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px; */
/* } */
/* .gallery{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 390px;
}
.gallery img{
	width: 100%;
	height: auto;
} */



@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.news img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.news time {
		margin: 0 0 0 1em;
	}
	#news_gallery figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#news_gallery figcaption {
		font-size: 90%;
		text-align: center;
	}
	img{
		width:100%;
	}
}
